body {
    transition: 0.4s ease;
}

/* 🟥 EMAGRECIMENTO */
body.emagrecimento {
    background: #2b0b0b;
    color: #ff4d4d;
}

/* 🟦 HIPERTROFIA */
body.hipertrofia {
    background: #0b1b2b;
    color: #4da6ff;
}

/* 🟩 MANUTENÇÃO */
body.manutencao {
    background: #0b2b1a;
    color: #4dff88;
}
